<mat-dialog-content class="main_content">
  @if (isLoading) {
  <div>Loading data</div>
  } @else {
  <div class="left">
    <img [src]="data.imgUrl" alt="Tile CAPTCHA" fill />
  </div>
  <div class="right">
    <h2>Match the tiles</h2>
    <div class="right_tiles_container">
      @for (row of data.matrix; track $index) {
      <div class="right_tile_row">
        @for (item of row; track $index) {
        <button class="square_btn"></button>
        }
      </div>
      }
    </div>
  </div>
  }
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button cdkFocusInitial (click)="fetchData()">Refresh</button>
  <button mat-button cdkFocusInitial>Submit</button>
</mat-dialog-actions>
