.main_content {
  display: flex;
  gap: 3px;
  width: 100%;
}

.left {
  flex: 1;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.left img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.right {
  flex: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.right_tiles_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.right_tile_row {
  display: flex;
  gap: 10px;
  flex: 1;
}

.square_btn {
  flex: 1;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
}

.square_btn_clicked{
  flex: 1;
  border: 1px solid #ccc;
  background-color: blue;
}
